@{
    ViewBag.Title = "Saiba mais sobre o nosso time!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Somos alunos da primeira turma de São Paulo formado no curso
    de Desenvolvimento de Sistemas Web - FullStack, pela Toti, que 
    oferece urso de programação presencial e online gratuito para
    pessoas refugiadas e imigrantes. Com foco na empregabilidade e
    conteúdos totalmente voltados para o mercado de trabalho, em 
    parceria com a Tecnologia Única, empresa de tecnologia que 
    inclusive já estão empregando os formandos. Hoje estamos 
    apresentando o trabalho de conclusão de curso baseado no modelo MVC/CRUD.

</p>
