@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cletche Nafantchamna<br />
    <br />
    <abbr title="Contato">P:</abbr>
    (14)98183-7547
</address>

<address>
    <strong>Email:</strong>   <a href="cletche91@hotmail.com"></a><br />
</address>

<address>
    José Augusto<br />
    <br />
    <abbr title="Contato">P:</abbr>
    (11)94212-6177
</address>

<address>
    <strong>Email:</strong>   <a href="jose.com.gmail.com"></a><br />
</address>

<address>
    Vailton Carlitos Gomes<br />
    <br />
    <abbr title="Contato">P:</abbr>
    (11)98897-6000
</address>

<address>
    <strong>Email:</strong>   <a href="vailton.tech@gmail.com"></a><br />
</address>
