@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AV ONDE SÃO JUDAS PERDEU A BOTA<br />
    Nº 1515<br />
    <abbr title="Phone">P:</abbr>
    235.235.0188
</address>

<address>
    <strong>Supporte:</strong>   <a href="cletche91@hotmail.com">cletche91@hotmail.com</a><br />
   
</address>