@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        Toti é uma plataforma de ensino que forma refugiados e imigrantes através de um curso preparado para atender as demandas das empresas.

        Nosso propósito é inspirar a mudança na vida de refugiados, conectando educação, tecnologia e diversidade.</p>
    </p>
    <p><a href="https://totidiversidade.com.br/" class="btn btn-primary btn-lg">Saiba mais aqui &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h3>PARCEIRAS</h3>
        <p><a href="http://www.tecnologiaunica.com.br/" class="btn btn-primary btn-lg">Tecnologia Unica&raquo;</a></p>
        <p><a href="http://www.wkm.com.br/" class="btn btn-primary btn-lg">Working Minds&raquo;</a></p>
        <p><a href="https://www.mxm.com.br/?https%3A%2F%2Fwww_mxm_com_br%2Fmxm-webmanager_html%3Fmatchtype=b&matchtype=b&gclid=Cj0KCQjw7ZL6BRCmARIsAH6XFDKofRXLomS2oarVHMuxBNZlfOHkIXTYDqzIauIrNz-FpNEnwdIjs24aAhNzEALw_wcB" class="btn btn-primary btn-lg">MXM Sistemas&raquo;</a></p>
       



    </div>
    <div class="col-md-4">
        <h3>SEJA DOADOR</h3>
        <p>
            A Toti é um negócio social que existe para inspirar a mudança na vida dos refugiados, atua no Rio de Janeiro oferecendo cursos de desenvolvimento web para refugiados e após a sua conclusão, são inseridos no mercado de trabalho qualificado.
            Está em busca de novas conexões para expandir a atuação da rede e assim levar mais transformação socioeconômica via ensino tecnológico.
        </p>
        <p><a class="btn btn-default" href="https://benfeitoria.com/toti">Saiba mais. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>CURSOS</h3>
        <p>Oferecem cursos de programação gratuitos nos modelos presencial e a online para pessoas refugiadas e imigrantes 
        em situação de vulnerabilidade social. Além disso, para o modelo presencial, oferecemos um auxílio transporte.</p>
        <p><a class="btn btn-default" href="https://totidiversidade.com.br/curso-programacao">Saiba mais. &raquo;</a></p>
    </div>
</div>
