@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Seja bem-vindo a nossa plataforma e sinta-se em casa, através deste painel você vai ter todas as
    informações sobre o nosso serviço, e transformar o seu medo numa realidade, pois o futuro começa hoje.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saiba mais aqui &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>AQUI VAI CONTEUDOS</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown 
            printer took a galley of type and scrambled it to make a 
            type specimen book. It has survived not only five centuries,
            but also the leap into electronic typesetting, remaining 
            essentially unchanged. It was popularised in the 1960s with
            the release of Letraset sheets containing Lorem Ipsum passages
            , and more recently with desktop publishing software like 
            Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saiba mais aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AQUI VAI CONTEUDOS</h2>
        <p> Lorem Ipsum is simply dummy text of the printing and 
        typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, 
        but also the leap into electronic typesetting, remaining 
        essentially unchanged. It was popularised in the 1960s with 
        the release of Letraset sheets containing Lorem Ipsum passages
        , and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CURSOS</h2>
        <p>Oferecemos cursos de programação gratuitos nos modelos presencial* e a online para pessoas refugiadas e imigrantes 
        em situação de vulnerabilidade social. Além disso, para o modelo presencial, oferecemos um auxílio transporte.</p>
        <p><a class="btn btn-default" href="https://totidiversidade.com.br/curso-programacao">Leia mais aqui &raquo;</a></p>
    </div>
</div>
