@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        Toti é uma plataforma de ensino que forma refugiados e imigrantes através de um curso preparado para atender as demandas das empresas.

        Nosso propósito é inspirar a mudança na vida de refugiados, conectando educação, tecnologia e diversidade.</p>
    </p>
    <p><a href="https://totidiversidade.com.br/" class="btn btn-primary btn-lg">Saiba mais aqui &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h1>As Nossas Parcerias</h1>
        <p><a href="http://www.tecnologiaunica.com.br/" class="btn btn-primary btn-lg">Tecnologia Unica&raquo;</a></p>
        <p><a href="http://www.wkm.com.br/" class="btn btn-primary btn-lg">Working Minds&raquo;</a></p>
        <p><a href="https://www.mxm.com.br/?https%3A%2F%2Fwww_mxm_com_br%2Fmxm-webmanager_html%3Fmatchtype=b&matchtype=b&gclid=Cj0KCQjw7ZL6BRCmARIsAH6XFDKofRXLomS2oarVHMuxBNZlfOHkIXTYDqzIauIrNz-FpNEnwdIjs24aAhNzEALw_wcB" class="btn btn-primary btn-lg">MXM Sistemas&raquo;</a></p>
        <p><a href=" https://www.volanty.com/" class="btn btn-primary btn-lg">Volanty&raquo;</a></p>
        <p><a href=" https://yourdev.com.br/" class="btn btn-primary btn-lg">Your/Dev&raquo;</a></p>
        <p><a href=" https://www.orbia.ag/" class="btn btn-primary btn-lg">Orbia&raquo;</a></p>
        <p><a href=" https://www.volanty.com/" class="btn btn-primary btn-lg">Volanty&raquo;</a></p>




    </div>
    <div class="col-md-4">
        <h2>AQUI VAI CONTEUDOS</h2>
        <p>
            WORKING MINDS
            Uma empresa situada no Rio de Janeiro, com experiência em revitalizar códigos ligados e corrigir bases de código problemática.
            Sua especialidade é de desenvolver e evoluir soluções digitais, onde visam oferecer um novo produto ao serviço, identificando seu público alvo e suas necessidades. .
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Leia mais aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CURSOS</h2>
        <p>Oferecemos cursos de programação gratuitos nos modelos presencial* e a online para pessoas refugiadas e imigrantes 
        em situação de vulnerabilidade social. Além disso, para o modelo presencial, oferecemos um auxílio transporte.</p>
        <p><a class="btn btn-default" href="https://totidiversidade.com.br/curso-programacao">Leia mais aqui &raquo;</a></p>
    </div>
</div>
